<div class="post-content{% if matches!(post.type_()?, PostType::Image | PostType::Animation) %} transparency-grid{% endif %}"
    {% if post.type_()?==PostType::Flash %} style="background-image: url({{ post.thumbnail_url()? }});" {% endif %}>

    {% match post.type_()? %}
    {% when PostType::Image | PostType::Animation %}
    <img alt="" src="{{ post.content_url()? }}" draggable="false" width="{{ post.canvas_width()? }}"
        height="{{ post.canvas_height()? }}"
        style="--aspect-ratio: {{ post.canvas_width()? }} / {{ post.canvas_height()? }};">

    {% when PostType::Flash %}
    <object width="{{ post.canvas_width()? }}" height="{{ post.canvas_height()? }}" data="{{ post.content_url()? }}">
        <param name="wmode" value="transparent">
        <param name="movie" value="{{ post.content_url()? }}">
        <div class="messages">
            <div class="message error">Your browser does not support Flash.</div>
        </div>
    </object>

    {% when PostType::Video %}
    {# TODO: autoplay #}
    <video controls {% if post.flags()?.contains(PostFlag::Loop) %}loop{% endif %} playsinline
        width="{{ post.canvas_width()? }}" height="{{ post.canvas_height()? }}">
        <source type="{{ post.mime_type()? }}" src="{{ post.content_url()? }}">
        Your browser doesn't support HTML5 videos.
    </video>
    {% endmatch %}

    {# TODO: post-overlay and notes #}
</div>