{% if ctx.can_edit_posts() || ctx.has_privilege(Action::PostDelete) ||
ctx.has_privilege(Action::PostFeature) %}
<article id="edit-toggle" hx-target="#sidebar-content" hx-select="#sidebar-content" hx-select-oob="#edit-toggle"
    hx-swap="outerHTML show:none focus-scroll:false" hx-replace-url="true">
    {% match mode %}
    {% when Mode::View %}
    <a href="{{ post.url(Mode::Edit, params)? }}">
        <i class="fa fa-pencil"></i>
        <span class="vim-nav-hint">Edit posts</span>
    </a>
    {% when Mode::Edit %}
    <a href="{{ post.url(Mode::View, params)? }}">
        <i class="fa fa-reply"></i>
        <span class="vim-nav-hint">Back to view mode</span>
    </a>
    {% endmatch %}
</article>
{% endif %}