{% if ctx.can_edit_posts() || ctx.has_privilege(Action::PostDelete) ||
ctx.has_privilege(Action::PostFeature) %}
<article id="edit-toggle" hx-target="#sidebar-content" {% if oob %} hx-swap-oob="true" {% endif %} hx-swap="outerHTML"
    hx-replace-url="true">
    {% match mode %}
    {% when Mode::View %}
    <a href="{{ post.url(Mode::Edit, params)? }}">
        <i class="fa fa-pencil"></i>
        <span class="vim-nav-hint">Edit posts</span>
    </a>
    {% when Mode::Edit %}
    <a href="{{ post.url(Mode::View, params)? }}">
        <i class="fa fa-reply"></i>
        <span class="vim-nav-hint">Back to view mode</span>
    </a>
    {% endmatch %}
</article>
{% endif %}