<div class="edit-sidebar">
    <form>
        <button>Save</button>

        <div class="messages"></div>

        <details class="expander" open>
            <summary>
                <span>Basic info</span>
                <i class="fa fa-chevron-down"></i>
            </summary>
            <div class="expander-content">
                {% if ctx.safety_enabled() && ctx.has_privilege(Action::PostEditSafety) %}
                <section class="safety">
                    <label>Safety</label>
                    <div class="radio-wrapper">
                        {% for safety in PostSafety::iter() %}
                        <label>
                            <input type="radio" name="safety" value="{{ safety }}" {% if safety==post.safety()? %}
                                checked {% endif %}>
                            <span class="radio">{{ safety | capitalize }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
                {% if ctx.has_privilege(Action::PostEditRelation) %}
                <section class="relations">
                    <label>Relations</label>
                    <input type="text" name="relations" value="{{ post.relations()?.joined() }}" pattern="^[0-9 ]*$"
                        placeholder="space-separated post IDs">
                </section>
                {% endif %}
                {% if ctx.has_privilege(Action::PostEditFlag) && post.type_()? == PostType::Video %}
                <section class="flags">
                    <label>Miscellaneous</label>
                    {% for flag in PostFlag::iter() %}
                    <label>
                        <input type="checkbox" name="{{ flag }}-flag" {% if post.flags()?.contains(*flag) %} checked {%
                            endif %}>
                        <span class="checkbox">{{ flag | capitalize }}</span>
                    </label>
                    {% endfor %}
                </section>
                {% endif %}
                {% if ctx.has_privilege(Action::PostEditSource) %}
                <section class="post-source">
                    <label>Source</label>
                    <textarea>{{ post.source()? }}</textarea>
                </section>
                {% endif %}
                {% if ctx.has_privilege(Action::PostEditDescription) %}
                <section class="post-description">
                    <label>Description</label>
                    <textarea>{{ post.description()? }}</textarea>
                </section>
                {% endif %}
            </div>
        </details>
    </form>
</div>