{% extends "layout.html" %}

{% block title %}{{ ctx.site_name() }} – Pool #{{ pool.primary_name()? }}{% endblock %}

{% block main %}
<style>
    {% for category in categories %}
    .pool-{{ category.name()? }} { color: {{ category.color()? }}; }
    {% endfor %}
</style>

<div class="content-wrapper" id="pool">
    {% block pool %}
    <h1>{{ pool.primary_name()? }}</h1>
    <nav class="buttons">
        <ul>
            <li data-name="summary" {% if active_pool_tab==PoolTab::Summary %} class="active" {% endif %}>
                <a href="pool/{{ pool.primary_name()? }}">Summary</a>
            </li>
            <li data-name="edit" {% if active_pool_tab==PoolTab::Edit %} class="active" {% endif %}>
                <a href="pool/{{ pool.primary_name()? }}/edit">Edit</a>
            </li>
            <li data-name="merge" {% if active_pool_tab==PoolTab::Merge %} class="active" {% endif %}>
                <a href="pool/{{ pool.primary_name()? }}/merge">Merge with…</a>
            </li>
            <li data-name="delete" {% if active_pool_tab==PoolTab::Delete %} class="active" {% endif %}>
                <a href="pool/{{ pool.primary_name()? }}/delete">Delete</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}