{% extends "layout.html" %}

{% block title %}{{ ctx.site_name() }} – Listing pools{% endblock %}

{% block main %}
<div class="content-wrapper pool-categories">
    <form>
        <h1>Pool categories</h1>
        <div class="table-wrap">
            <table>
                <thead>
                    <tr>
                        <th class="name">Category name</th>
                        <th class="color">CSS color</th>
                        <th class="usages">Usages</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr data-category="{{ category.name()? }}" {% if category.default()? %} class="default" {% endif %}>
                        <td class="name">{{ category.name()? }}</td>
                        <td class="color">{{ category.color()? }}</td>
                        <td class="usages">
                            {% if ctx.has_privilege(Action::PoolList) %}
                            <a href="pools?search-text=category:{{ category.name()? }}">
                                {{ category.usages()? }}
                            </a>
                            {% else %}
                            {{ category.usages()? }}
                            {% endif %}
                        </td>
                        {% if ctx.has_privilege(Action::PoolCategoryDelete) %}
                        <td class="remove">Remove</td>
                        {% endif %}
                        {% if ctx.has_privilege(Action::PoolCategorySetDefault) %}
                        <td class="set-default">Make default</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if ctx.has_privilege(Action::PoolCategoryCreate) %}
        <p><a href class="add">Add new category</a></p>
        {% endif %}

        <div class="messages"></div>

        {% if ctx.can_edit_pool_categories() %}
        <div class="buttons">
            <input type="submit" class="save" value="Save changes">
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}