{% extends "layout.html" %}

{% block title %}{{ ctx.site_name() }} – Post #{{ post.id()? }}{% endblock %}

{% block main %}
<style>
    {% for category in tag_categories %}
    .tag-{{ category.name()? }} { color: {{ category.color()? }}; }
    {% endfor %}
    {% for category in pool_categories %}
    .pool-{{ category.name()? }} { color: {{ category.color()? }}; }
    {% endfor %}
</style>

<div class="content-wrapper transparent-container post-view">
    <aside class="sidebar">
        <nav class="buttons">
            <article class="previous-post">
                <a rel="prev" {% if let Some(post)=prev_post %} href="{{ post.url(*mode, params)? }}" {% else %}
                    class="inactive" {% endif %}>
                    <i class="fa fa-chevron-left"></i>
                    <span class="vim-nav-hint">&lt; Previous post</span>
                </a>
            </article>
            <article class="next-post">
                <a rel="next" {% if let Some(post)=next_post %} href="{{ post.url(*mode, params)? }}" {% else %}
                    class="inactive" {% endif %}>
                    <i class="fa fa-chevron-right"></i>
                    <span class="vim-nav-hint">Next post &gt;</span>
                </a>
            </article>
            {% include "partials/post/edit_toggle.html"%}
        </nav>
        {% block sidebar_content %}{% endblock %}
    </aside>

    <div class="content">
        {% let post = &post %}
        <div class="post-container fit-{{ params.fit() }}">
            {% include "partials/post/content.html" %}
        </div>

        {% block description %}{% endblock %}
        {% block comments %}{% endblock %}
    </div>
</div>
{% endblock %}