{% extends "layout.html" %}

{% block title %}{{ ctx.site_name() }} – Post #{{ post.id()? }}{% endblock %}

{% block main %}
<style>
    {% for category in tag_categories %}
    .tag-{{ category.name()? }} { color: {{ category.color()? }}; }
    {% endfor %}
    {% for category in pool_categories %}
    .pool-{{ category.name()? }} { color: {{ category.color()? }}; }
    {% endfor %}
</style>

<div class="content-wrapper transparent-container post-view">
    <aside class="sidebar" hx-on:htmx:after:swap="syncPostMode(this, ctx)">
        <nav class="buttons">
            <article class="previous-post">
                <a {% if let Some(post)=prev_post %} href="{{ post.url(*mode, params)? }}" {% else %} class="inactive"
                    hx-boost="false" {% endif %}>
                    <i class="fa fa-chevron-left"></i>
                    <span class="vim-nav-hint">&lt; Previous post</span>
                </a>
            </article>
            <article class="next-post">
                <a {% if let Some(post)=next_post %} href="{{ post.url(*mode, params)? }}" {% else %} class="inactive"
                    hx-boost="false" {% endif %}>
                    <i class="fa fa-chevron-right"></i>
                    <span class="vim-nav-hint">Next post &gt;</span>
                </a>
            </article>

            {% if ctx.can_edit_posts() || ctx.has_privilege(Action::PostDelete) ||
            ctx.has_privilege(Action::PostFeature) %}
            <article id="edit-toggle" hx-target:inherited="#sidebar-content" hx-swap:inherited="outerHTML"
                hx-replace-url:inherited="true">
                {% match mode %}
                {% when Mode::View %}
                <a href="{{ post.url(Mode::Edit, params)? }}">
                    <i class="fa fa-pencil"></i>
                </a>
                {% when Mode::Edit %}
                <a href="{{ post.url(Mode::View, params)? }}">
                    <i class="fa fa-reply"></i>
                </a>
                {% endmatch %}
            </article>
            {% endif %}
        </nav>
        {% block sidebar_content %}{% endblock %}
    </aside>

    <div class="content">
        {% let post = &post %}
        <div class="post-container fit-{{ params.fit() }}">
            {% include "partials/post/content.html" %}
        </div>

        {% block description %}{% endblock %}
        {% block comments %}{% endblock %}
    </div>
</div>
{% endblock %}