{% extends "pages/post/base.html" %}

{% macro carry(params, except) %}
{% if except != "fit" && let Some(fit) = params.fit %}
<input type="hidden" name="fit" value="{{ fit }}">
{% endif %}
{% if except != "search-text" && let Some(search_text) = params.search_text.as_deref() %}
<input type="hidden" name="search-text" value="{{ search_text }}">
{% endif %}
{% endmacro %}

{% block sidebar %}
<div class="readonly-sidebar">
    <article class="details">
        <section class="download">
            <a href="{{ post.content_url()? }}" download>
                <i class="fa fa-download"></i>
                {{- unit::format_bytes(post.file_size()?) }} {{ post.mime_type()?.extension() | uppercase }}
            </a>
            ({{ post.canvas_width()? }}x{{ post.canvas_height()? }})
            {% if post.flags()?.contains(PostFlag::Loop) %}<i class="fa fa-repeat"></i>{% endif %}
            {% if post.flags()?.contains(PostFlag::Sound) %}<i class="fa fa-volume-up"></i>{% endif %}
        </section>

        <section class="upload-info">
            {% let user = post.user()? %}
            {% include "partials/user_link.html"%},
            {% let creation_time = post.creation_time()? %}
            <time datetime="{{ creation_time }}" title="{{ creation_time }}">{{ time::since(creation_time) }}</time>
        </section>

        {% if ctx.safety_enabled() %}
        <section class="safety">
            <i class="fa fa-circle safety-{{ post.safety()? }}"></i>{{ post.safety()? | capitalize }}
        </section>
        {% endif %}

        <section class="zoom">
            <form method="get" action="{{ post.url(Mode::View, params)? }}">
                {% call carry(params, "fit") %}{% endcall %}
                <button {% if params.fit()==Fit::Original %} class="active" {% endif %} name="fit"
                    value="original">Original zoom</button> ·
                <button {% if params.fit()==Fit::Width %} class="active" {% endif %} name="fit" value="width">fit
                    width</button> ·
                <button {% if params.fit()==Fit::Height %} class="active" {% endif %} name="fit"
                    value="height">height</button> ·
                <button {% if params.fit()==Fit::Both %} class="active" {% endif %} name="fit"
                    value="both">both</button>
            </form>
        </section>

        {% if !post.source()?.is_empty() %}
        <section class="source">
            Source:
            {% for (i, source) in post.sources()?.enumerate() %}
            {% if i != 0 %}·{% endif %}
            <a href="{{ source.text() }}" title="{{ source.text() }}">{{ source.domain() }}</a>
            {% endfor %}
        </section>
        {% endif %}

        <section class="search">
            Search on
            <a href="https://iqdb.org/?url={{ full_content_url()? }}">IQDB</a> ·
            <a href="https://danbooru.donmai.us/posts?tags=md5:{{ post.checksum_md5()? }}">Danbooru</a> ·
            <a href="https://lens.google.com/uploadbyurl?url={{ full_content_url()? }}">Google Images</a>
        </section>

        <section class="social">
            <div class="score-container">
                <a class="upvote">
                    <i class="fa fa-thumbs{% if post.own_score()? != Rating::Like %}-o{% endif %}-up"></i>
                    <span class="vim-nav-hint">upvote</span>
                    <span class="vim-nav-hint">like</span>
                </a>
                <span class="value">{{ post.score()? }}</span>
                <a class="downvote">
                    <i class="fa fa-thumbs{% if post.own_score()? != Rating::Dislike %}-o{% endif %}-down"></i>
                    <span class="vim-nav-hint">downvote</span>
                    <span class="vim-nav-hint">dislike</span>
                </a>
            </div>

            <div class="fav-container">
                <a class="add-favorite">
                    <i class="fa fa-heart{% if !post.own_favorite()? %}-o{% endif %}"></i>
                    <span class="vim-nav-hint">add to favorites</span>
                </a>
                <span class="value">{{ post.favorite_count()? }}</span>
            </div>
        </section>
    </article>

    {% if !post.relations()?.is_empty() %}
    <nav class="relations">
        <h1>Relations ({{ post.relations()?.len() }})</h1>
        <ul>
            {% for related_post in post.relations()? %}
            <li>
                <a href="{{ related_post.url(params)? }}">
                    <span class="thumbnail" style="background-image: url({{ related_post.thumbnail_url }})">
                        <img alt="thumbnail" src="{{ related_post.thumbnail_url }}">
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    <nav class="tags">
        <h1>Tags ({{ post.tags()?.len() }})</h1>
        {% if !post.tags()?.is_empty() %}
        <ul class="compact-tags">
            {% for tag in post.tags()? %}
            <li>
                {% if ctx.has_privilege(Action::TagView) %}
                <a class="tag-{{ tag.category }}" href="tag/{{ tag.primary_name() }}"><i class="fa fa-tag"></i></a>
                {% endif %}
                {% if ctx.has_privilege(Action::PostList) %}
                <a class="tag-{{ tag.category }}" href="posts?search-text={{ tag.primary_name() }}">{{
                    tag.primary_name() }}</a>
                {% else %}
                <span class="tag-{{ tag.category }}">{{ tag.primary_name() }}</span>
                {% endif %}
                &#32;
                <span class="tag-usages" data-pseudo-content="{{ tag.usages }}"></span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>
            No tags yet!
            {% if ctx.can_edit_posts() %}
            {# TODO: Edit mode #}
            <a href="{{ post.url(Mode::Edit, params)? }}">Add some.</a>
            {% endif %}
        </p>
        {% endif %}
    </nav>
</div>
{% endblock %}

{% block description %}
{% if !post.description()?.is_empty() %}
<div class="description-container">
    <details open>
        <summary>Description</summary>
        {# TODO: Markdown #}
        <p>{{ post.description()? }}</p>
    </details>
</div>
{% endif %}
{% endblock %}

{% block comments %}
<div class="after-mobile-controls">
    {% if ctx.has_privilege(Action::CommentCreate) %}
    <h2>Add comment</h2>
    {# TODO: comment-form-container #}
    {% endif %}

    {% if ctx.has_privilege(Action::CommentList) %}
    <div class="comments-container">
        <div class="comments">
            <ul>
                {% for comment in post.comments()?.iter().rev() %}
                <li>
                    {% include "partials/comment.html" %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}