{% extends "layout.html" %}

{% block title %}{{ ctx.site_name() }} &ndash; Registration{% endblock %}

{% block main %}
<div class="content-wrapper" id="user-registration">
    <h1>Registration</h1>
    <form>
        <input class="anticomplete" type="text" name="fakeuser">
        <input class="anticomplete" type="password" name="fakepass">

        <ul class="input">
            <li>
                <label>User name</label>
                <input type="text" name="name" placeholder="letters, digits, _, -" required
                    patttern="{{ ctx.config.regex(RegexType::Username) }}">
            </li>
            <li>
                <label>Password</label>
                <input type="password" name="password" placeholder="5+ characters" required
                    pattern="{{ ctx.config.regex(RegexType::Password) }}">
            </li>
            <li>
                <label>Email</label>
                <input type="email" name="email" placeholder="optional">
                <p class="hint">
                    Used for password reminder and to show a <a href="https://gravatar.com">Gravatar</a>.
                    Leave blank for random Gravatar.
                </p>
            </li>
        </ul>

        <div class="messages"></div>
        <div class="buttons">
            <input type="submit" value="Create an account">
        </div>
    </form>

    <div class="info">
        <p>Registered users can:</p>
        <ul>
            <li>
                <i class="fa fa-upload"></i> upload new posts
            </li>
            <li>
                <i class="fa fa-heart"></i> mark them as favorite
            </li>
            <li>
                <i class="fa fa-commenting-o"></i> add comments
            </li>
            <li>
                <i class="fa fa-star-half-o"></i> vote up/down on posts and comments
            </li>
        </ul>
        <hr>
        <p>By creating an account, you are agreeing to the <a href="help/tos">Terms of Service</a>.</p>
    </div>
</div>
{% endblock %}