:root {
  --primary: #24aadd;
  --secondary: #377cfb;
  --accent: #f68067;
  --neutral: #111;
  --neutral-content: #f9fafb;
  --base-100: white;
  --base-200: #f3f3f3;
  --base-300: #f5f5f5;
  --base-content: #333c4d;
  --info: #17a2b8;
  --success: #28a745;
  --warning: #f0ad4e;
  --error: #dc3545;
}
