div.pool-input {
    position: relative;
}

div.pool-input .main-control {
    display: flex;
}

div.pool-input .main-control input {
    flex: 5;
}

div.pool-input .main-control button {
    flex: 1;
    margin: 0 0 0 .5em;
}

ul.compact-pools {
    width: 100%;
    margin: .5em 0 0 0;
    padding: 0;
}

ul.compact-pools li {
    margin: 0;
    width: 100%;
    line-height: 140%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    --highlight: transparent;
}


ul.compact-pools li a {
    display: inline;
}

ul.compact-pools li a:focus {
    outline: 0;
    box-shadow: inset 0 0 0 2px var(--main-color);
}

ul.compact-pools li.new {
    color: var(--new-pool-text-color);
    --highlight: var(--new-pool-background-color);
}

ul.compact-pools li.duplicate {
    color: var(--duplicate-pool-text-color);
    --highlight: var(--duplicate-pool-background-color);
}

ul.compact-pools li.added,
ul.compact-pools li.new {
    animation: tag-added-to-post 1s ease forwards,
        tag-fade 2s ease forwards;
}

ul.compact-pools li.duplicate {
    animation: tag-fade 2s ease-out forwards;
}

.darktheme ul.compact-pools li.new {
    --highlight: oklch(from var(--new-pool-background-color) calc(l - 80%) c h);
}

.darktheme ul.compact-pools li.duplicate {
    --highlight: oklch(from var(--duplicate-pool-background-color) calc(l - 80%) c h);
}

ul.compact-pools i {
    padding-right: .4em;
}

div.pool-input .pool-usages,
ul.compact-pools .pool-usages,
div.pool-input .pool-weight,
ul.compact-pools .pool-weight,
div.pool-input .remove-pool,
ul.compact-pools .remove-pool {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: var(--inactive-link-color);
    cursor: pointer;
}

div.pool-input .pool-usages,
ul.compact-pools .pool-usages,
div.pool-input .pool-weight,
ul.compact-pools .pool-weight {
    font-size: 90%;
}

div.pool-input .pool-usages,
ul.compact-pools .pool-usages,
div.pool-input .pool-weight,
ul.compact-pools .pool-weight {
    margin-left: .7em;
}

div.pool-input .remove-pool,
ul.compact-pools .remove-pool {
    margin-right: .5em;
}

.darktheme div.pool-input .pool-usages,
.darktheme ul.compact-pools .pool-usages,
.darktheme div.pool-input .pool-weight,
.darktheme ul.compact-pools .pool-weight,
.darktheme div.pool-input .remove-pool,
.darktheme ul.compact-pools .remove-pool {
    color: var(--inactive-link-color-darktheme);
}