.post-container {
    text-align: left;
    --fit-height: calc(100vh - 5em);
}

.post-container .post-content.transparency-grid img {
    background-image:
        /* TODO: Can maybe be replaced with conic-gradient */
        linear-gradient(45deg, var(--transparency-grid-square-color) 25%, transparent 25%),
        linear-gradient(-45deg, var(--transparency-grid-square-color) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--transparency-grid-square-color) 75%),
        linear-gradient(-45deg, transparent 75%, var(--transparency-grid-square-color) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}

.post-container .post-content {
    text-align: left;
    position: relative;
    margin: 0;
    width: 100%;
}

.post-container .post-content :is(img, video) {
    display: block;
    margin: 0;
    image-orientation: from-image;
}

/* Fit modes */

.post-container.fit-original :is(img, video) {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}

.post-container.fit-width :is(img, video) {
    width: 100%;
    height: auto;
}

.post-container.fit-height :is(img, video) {
    height: var(--fit-height);
    width: auto;
    max-width: none;
}

.post-container.fit-both :is(img, video) {
    width: min(100%, calc(var(--fit-height) * var(--aspect-ratio)));
    height: auto;
    max-width: 100%;
    max-height: var(--fit-height);
}