[privileges]
user-create-self            = "anonymous" # Registration permission
user-create-any             = "administrator"
user-list                   = "regular"
user-view                   = "regular"
user-edit-any-name          = "moderator"
user-edit-any-pass          = "moderator"
user-edit-any-email         = "moderator"
user-edit-any-avatar        = "moderator"
user-edit-any-rank          = "moderator"
user-edit-self-name         = "regular"
user-edit-self-pass         = "regular"
user-edit-self-email        = "regular"
user-edit-self-avatar       = "regular"
user-edit-self-rank         = "moderator" # One can't promote themselves or anyone to a rank higher than their own
user-delete-any             = "administrator"
user-delete-self            = "regular"

user_token-list-any         = "administrator"
user_token-list-self        = "regular"
user_token-create-any       = "administrator"
user_token-create-self      = "regular"
user_token-edit-any         = "administrator"
user_token-edit-self        = "regular"
user_token-delete-any       = "administrator"
user_token-delete-self      = "regular"

post-create-anonymous       = "regular"
post-create-identified      = "regular"
post-list                   = "anonymous"
post-reverse_search         = "regular"
post-view-any               = "anonymous"
post-view-featured          = "anonymous"
post-edit-content           = "power"
post-edit-flag              = "regular"
post-edit-note              = "regular"
post-edit-relation          = "regular"
post-edit-safety            = "power"
post-edit-source            = "regular"
post-edit-tag               = "regular"
post-edit-thumbnail         = "power"
post-feature                = "moderator"
post-delete                 = "moderator"
post-score                  = "regular"
post-merge                  = "moderator"
post-favorite               = "regular"
post-bulk-edit-tag          = "power"
post-bulk-edit-safety       = "power"
post-bulk-edit-delete       = "power"

tag-create                  = "regular"
tag-edit-name               = "power"
tag-edit-category           = "power"
tag-edit-description        = "power"
tag-edit-implication        = "power"
tag-edit-suggestion         = "power"
tag-list                    = "regular"
tag-view                    = "anonymous"
tag-merge                   = "moderator"
tag-delete                  = "moderator"

tag_category-create         = "moderator"
tag_category-edit-name      = "moderator"
tag_category-edit-color     = "moderator"
tag_category-edit-order     = "moderator"
tag_category-list           = "anonymous"
tag_category-view           = "anonymous"
tag_category-delete         = "moderator"
tag_category-set_default    = "moderator"

pool-create                 = "regular"
pool-edit-name              = "power"
pool-edit-category          = "power"
pool-edit-description       = "power"
pool-edit-post              = "power"
pool-list                   = "regular"
pool-view                   = "anonymous"
pool-merge                  = "moderator"
pool-delete                 = "moderator"

pool_category-create        = "moderator"
pool_category-edit-name     = "moderator"
pool_category-edit-color    = "moderator"
pool_category-list          = "anonymous"
pool_category-view          = "anonymous"
pool_category-delete        = "moderator"
pool_category-set_default   = "moderator"

comment-create              = "regular"
comment-delete-any          = "moderator"
comment-delete-own          = "regular"
comment-edit-any            = "moderator"
comment-edit-own            = "regular"
comment-list                = "regular"
comment-view                = "regular"
comment-score               = "regular"

snapshot-list               = "power"

upload-create               = "regular"
upload-use_downloader       = "power"