{% extends "pages/tag/base.html" %}

{% block content %}
<div class="tag-delete">
    <form>
        <input type="hidden" name="version" value="{{ tag.version()? }}">

        <p>
            This tag has <a href="posts?search-text={{ tag.primary_name()? }}">{{ tag.usages()? }} usage{% if
                tag.usages()? != 1 %}s{% endif %}</a>.
        </p>

        <ul class="input">
            <li>
                <input id="confirm-deletion" type="checkbox" required>
                <span class="checkbox">I confirm that I want to delete this tag.</span>
            </li>
        </ul>

        <div class="messages"></div>

        <div class="buttons">
            <input type="submit" value="Delete tag">
        </div>
    </form>
</div>
{% endblock %}