{% extends "pages/tag/base.html" %}

{% block content %}
<div class="tag-merge">
    <form method="post" action="tag/{{ tag.primary_name()? }}/merge" hx-post="tag/{{ tag.primary_name()? }}/merge"
        hx-target="#tag" hx-swap="show:none">
        <input type="hidden" name="version" value="{{ tag.version()? }}">

        <ul class="input">
            <li class="target">
                <label>Target tag</label>
                <input type="text" name="target-tag" value="{{ tag.target_tag }}" required
                    pattern="{{ ctx.config.regex(RegexType::Tag) }}">
            </li>

            <li>
                <p>
                    Names, usages in posts, suggestions and implications will be merged. Category needs to be handled
                    manually.
                </p>

                <label>
                    <input type="checkbox" required>
                    <span class="checkbox">I confirm that I want to merge this tag.</span>
                </label>
            </li>
        </ul>

        <div class="messages">
            {% match message %}
            {% when Message::Success %}
            <div class="message success">Tag merged.</div>
            {% when Message::Error(err) %}
            <div class="message error">{{ err }}</div>
            {% when Message::None %}
            {% endmatch %}
        </div>

        <div class="buttons">
            <button>Merge tag</button>
        </div>
    </form>
</div>
{% endblock %}