{% extends "pages/tag/base.html" %}

{% block content %}
<div class="tag-merge">
    <form>
        <input type="hidden" name="version" value="{{ tag.version()? }}">

        <ul class="input">
            <li class="target">
                <label>Target tag</label>
                <input type="text" name="target-tag" required pattern="{{ ctx.config.regex(RegexType::Tag) }}">
            </li>

            <li>
                <p>
                    Usages in posts, suggestions and implications will be merged. Category needs to be handled manually.
                </p>

                <label>
                    <input id="confirm-merge" type="checkbox" required>
                    <span class="checkbox">I confirm that I want to merge this tag.</span>
                </label>
            </li>
        </ul>

        <div class="messages"></div>

        <div class="buttons">
            <input type="submit" value="Merge tag">
        </div>
    </form>
</div>
{% endblock %}